@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:green">
    About The Company
</h3>

<br />
<p style="color:green">
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.
    Phulwari Pvt. Ltd. established in 2009, is a complete landscape design and maintenance firm offering our clients the benefit and convenience of working with a single contractor for all their landscape desires. We take great pride in tailoring consistent, high quality services and products to our clientele.

</p>