@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:green">Contact us</h3>
<br />
<br />
<h6 style="color:green">Phone: +123123123</h6>
<h6 style="color:green">Email: xyz@zyz.com</h6>
<h6 style="color:green">Address: Pattoki, Uganda.</h6>
<h6 style="color:green">Facebook: Pattoki Walay</h6>

